body {
    font-family: Garamond;
    color: #0E0E0E;
    font-size: 14px;
    line-height: 20px;
  }
  
  img {
    display: inline-block;
    max-width: 100%;
  }
  
  .body {
    height: 278vh;
    margin-bottom: 0px;
    padding-bottom: 0px;
    background-color: #0e0e0e;
  }
  
  .navsec {
    position: relative;
    width: 100vw;
    height: 10vh;
  }
  
  .navdiv {
    position: relative;
  }
  
  .logo {
    position: absolute;
    left: 2%;
    top: 0%;
    height: 15vh;
    cursor: pointer;
  }

  .icondiv-left {
    position: absolute;
    top: 10%;
    left: 18rem;
    display: flex;
    grid-column-gap: 3vw;
    grid-row-gap: 3vw;
  }

  .icon {
    position: relative;
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
    }

  .icondiv-right {
    position: absolute;
    top: 10%;
    right: 2%;
    display: flex;
    grid-column-gap: 3vw;
    grid-row-gap: 3vw;
    }

  .icon-right {
    position: relative; 
    width: 90%;
    height: 90%;
    cursor: pointer;
    }

  .bannersec {
      height: 40vh;
  }

  .banner {
    width: 1452px;
    max-width: 1452px;
    position: absolute;
    top: 0%;
    bottom: 0%;
    left: 0%;
    right: 0%;
    opacity: 0.5;
    -webkit-filter: blur();
    filter: blur(3px);
  }

  .bannerdiv {
    position: relative;
    width: 100vw;
  }

  .searchbardiv  {
    position: relative;
    left: -21%;
    top: 6vh;
    right: -20%;
    display: flex;
    width: 50vw;
    height: 30vh;
    margin-left: auto;
    padding-bottom: 0px;
    justify-content: flex-start;
    align-items: center;
  }

  input[type=text], select, textarea {
    position: absolute;
    width: 45vw;
    left: -3%;
    top: 22%;
    right: 0%;
    bottom: auto;
    padding-left: 11px;
    height: 4vh;
    border-style: solid;
    border-width: 2px;
    border-color: #d7ca89;
    border-radius: 20px;
    background-color: transparent;
    color: white;
    text-indent: 8px;
    font-family: Garamond;
    font-size: 18px;
  }

  ::placeholder{
    color: white;
    opacity: 95%;
    font-family: Garamond;
    font-size: 18px;
  }

  .submit {
    position: absolute;
    left: 85%;
    top: 26%;
    right: 0%;
    bottom: 0%;
  }

  .categorysearch {
    position: absolute;
    left: 0%;
    top: 65%;
    right: 0%;
    bottom: 0%;
    display: flex;
    margin-left: -11%;
    justify-content: space-around;
  }

  #BodyType {
    position: relative;
    left: 27vw;
    right: 0%;
    top: auto;
    bottom: auto;
    height: 4vh;
    max-width: 19vw;
    min-width: 17vw;
    border-style: solid;
    border-width: 2px;
    border-color: #d7ca89;
    border-radius: 20px;
    background-color: transparent;
  }

  .categorysearchtext {
    position: relative;
    left: 18px;
    bottom: 11px;
    color: white;
    opacity: 95%;
    font-family: Garamond;
    font-size: 18px;
  }

  #categorysearcharrow-1 {
    position: relative;
    left: 14.5vw;
    right: auto;
    bottom: 6vh;
    top: auto;
  }

  #categorysearcharrow-2 {
    position: relative;
    left: 14.5vw;
    right: auto;
    bottom: 6vh;
    top: auto;
  }

  #Make {
    position: relative;
    left: 6vw;
    right: 0%;
    top: auto;
    bottom: auto;
    height: 4vh;
    max-width: 19vw;
    min-width: 17vw;
    border-style: solid;
    border-width: 2px;
    border-color: #d7ca89;
    border-radius: 20px;
    background-color: transparent;
  }

  #SearchButton {
    position: relative;
    left: -13.5%;
    right: 0%;
    top: auto;
    bottom: auto;
    height: 4vh;
    max-width:7vw;
    min-width: 7vw;
    border-style: solid;
    border-width: 2px;
    border-color: #d7ca89;
    border-radius: 20px;
    background-color: transparent;
  }
  
  .categorysearchtext-search {
    position: relative;
    left: 1.85vw;
    bottom: 12px;
    color: white;
    opacity: 95%;
    font-family: Garamond;
    font-size: 18px;
  }

  .functionmenusec {
    position: relative;
    height: 8vh;
  }

  .functionmenu {
    position: absolute;
    left: auto;
    top: 0%;
    bottom: 0%;
    right: 0%;
    width: 25vw;
  }
  
  .sortdropdown {
    position: absolute;
    left: 25%;
    top: 14%;
    right: 0%;
    bottom: 0%;
  }

  .sortdiv {
    padding: 0px;
  }

  #Compare {
    position: absolute;
    left: 45%;
    top: 15%;
    right: 0%;
    bottom: 0%;
  }
   
  #Grid {
    position: absolute;
    left: 67%;
    top: 16%;
    right: 0%;
    bottom: 0%;
  }

  #List {
    position: absolute;
    left: 86%;
    right: 0%;
    bottom: 0%;
    top: 17%;
  }
      
  .productsec  {
    height: 160vh;
  }
 
  .bottomsec {
    position: relative;
    height: 60vh;
  }

  #map {
    position: relative;
    left: -30%;
    top: 19%;
    right: 0%;
    bottom: 0%;
    width: 20vw;
    height: 300px;
    min-width: 250px;
    margin-left: auto;
    border: 5px solid #d7ca89;
    border-radius: 20px;
  }

  #bottomlogo  {
    position: relative;
    left: 5%;
    top: -42%
  }

  .bottomcolumn {
    display: flex;
    position: relative;
    left: 6%;
    top: -55%;
    width: 30vw;
  }

  .bottomcolumnleft {
    position: relative;
    display: block;
    left: 0%;
    height: 20vh;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
  }

  .bottomcolumnright {
    left: 20%;
    height: 20vh;
  }

  .bottomcolumn-heading {
    position: relative;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: auto;
    font-family: Garamond;
    color: #d7ca89;
    font-size: 25px;
    text-align: center;
  }

  #facebook {
    position: relative;
    left: 25%;
    top: -3%;
  }

  #twitter {
    position: relative;
    left: -15%;
    top: 42%;
}

  #bottomcolumn-text {
    font-family: Garamond;
    color: #d7ca89;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    text-decoration: underline;  
    position: relative;
    left: 4%;
    top: 0%;
    width: 12vw;
    height: 15vh;

  }

  #bottom-info {
    position: absolute;
    left: auto;
    top: 20%;
    right: 4%;
    bottom: 0%;
    width: 20vw;
    height: 35vh;
  }

  #timetable {
    font-family: Garamond;
    color: #d7ca89;
    line-height: 28px;
    letter-spacing: 2px;
    text-align-last: justify;
    position: absolute;
    right: 0%;
    left: 75.8%;
    top: 42%;
    bottom: 0%;
    height: 25vh;
    width: 18vw;
  }

  #address {
    font-family: Garamond;
    color: #d7ca89;
    font-size: 18px;
    line-height: 28px;
    text-align: left;
    letter-spacing: 3px;
    position: absolute;
    top: 0%;
    left: 0%;
    right: 0%;
    bottom: auto;
    height: 10vh;
  }

