body {
    font-family: Garamond;
    color: #0E0E0E;
    font-size: 14px;
    line-height: 20px;
  }
  
  img {
    display: inline-block;
    max-width: 100%;
  }
  
  .body {
    height: 500vh;
    margin-bottom: 0px;
    padding-bottom: 0px;
    background-color: #0e0e0e;
  }
  
  .navsec {
    position: relative;
    width: 100vw;
    height: 10vh;
  }
  
  .navdiv {
    position: relative;
  }
  
  .logo {
    position: absolute;
    left: 2%;
    top: 0%;
    height: 15vh;
    cursor: pointer;
  }

  .icondiv-left {
    position: absolute;
    top: 10%;
    left: 18rem;
    display: flex;
    grid-column-gap: 3vw;
    grid-row-gap: 3vw;
  }

  .icon {
    position: relative;
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
    }

  .icondiv-right {
    position: absolute;
    top: 12%;
    right: 3%;
    display: flex;
    grid-column-gap: 3vw;
    grid-row-gap: 3vw;
    }

  .icon-right {
    position: relative;       
    width: 30%;
    height: 30%;
    cursor: pointer;
    }

  .banner {
    position: absolute;
    opacity: 0.5;
    -webkit-filter: blur();
    filter: blur(3px);
  }

  .bannerdiv {
    position: relative;
  }

  .searchbardiv {
    position: absolute;
    left: 0%;
    right: 0%;
    display: flex;
    margin-top: 8%;
    justify-content: space-around;
    align-items: center;
  }

  .searchbar  {
    position: relative;
    z-index: 1;
    max-width: 60%;
  }